body{
  background-color: #32012F;
}

div{
  
  margin-left: 30%;
  width:50%;
  margin-top: 20%;

}
footer{
  margin-left: 30%;
}

h1{
  color:#F6DCAC ;
  text-transform: capitalize;
  font-family: "Playwrite US Modern", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  
}